@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar text color */
.navbar-back-btn,
.navbar-back-btn a {
  color: hsl(0, 0%, 30%) !important;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f3e6da;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cake-container {
  width: 100%;
  height: 110vh;
  position: relative;
  top: 0%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.cake-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
